<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "3JZ9MTRZR5.*"
	version 	= "1.0.0">

	<name>greggtwep16test</name>

	<description>
		Test project
	</description>

	<author 
		email="gregfriend1@hotmail.com">
		Greg Friend
	</author>

	<icon src="ApplicationIcon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/device"/>


	<preference name="orientation" value="portrait" />
</widget>